## 1. Marks - Grade

In [6]:
percentage = int(input("Enter your Percentage :"))
if percentage > 90 and percentage <= 100:
	print(' Grade A')
elif percentage > 80 and percentage <=90:
	print('Grade B ')
elif percentage >= 60 and percentage <=80:
	print('Grade C ')
elif percentage < 60 and percentage > 0:
	print('Grade D ')
else:
	print('Invalid')

Enter your Percentage : 98

 Grade A

## 2. Bike cost - Tax

In [10]:
cost = int(input("Enter the cost of the bike :"))
if cost > 100000:
    print(f"Tax is 15% which is {cost * 15/100}")
elif cost > 50000 and cost <= 100000:
	print(f"Tax is 10% which is {cost * 10/100}")
elif cost <=50000:
    print(f"Tax is 5% which is {cost * 5/100 }")
else:
    print("invalid")

Enter the cost of the bike : 150000

Tax is 15% which is 22500.0

## 3. City - Monuments

In [12]:
city = input('Enter the city : ')
answer = {'Delhi':'Redfort','Agra':'Taj Mahal','Jaipur':'JalMahal'}
print(answer[city])

Enter the city :  Agra

Taj Mahal

## 4. No. of time Number Divisble by 3 below 10

In [16]:
n = number = int(input("Enter the number: "))
count = 0
while number > 10:
    number /= 3
    count += 1
print(f"{n} can be divided {count} times less than or eqals to 10")

Enter the number:  156

156 can be divided 3 times less than or eqals to 10

## 5. Why are Loops used in Python

In [30]:
print('Loops are used in python to repeat certain block of code n No. of times')
 # Example is : 
for i in range(1, 6):
    print(i)

Loops are used in python to repeat certain block of code n No. of times
1
2
3
4
5

In the above code we didnt write print statement 5 times, instead used a loop to do it

## 6. While Loop to 3 Patterns

### Right Triangle

In [26]:
rows = int(input("Enter number of rows for right angle triangle: "))
i = 1
while i <= rows:
    j = 1
    while j <= i:
        print("*", end=" ")
        j += 1
    print()
    i += 1

Enter number of rows for right angle triangle:  5

*
* *
* * *
* * * *
* * * * *

### Triangle

In [22]:
rows = int(input("Enter number of rows for normal triangle: "))
i = 1
while i <= rows:
    j = 1
    while j <= rows - i:
        print(" ", end=" ")
        j += 1
    k = 1
    while k <= 2 * i - 1:
        print("*", end=" ")
        k += 1
    print()
    i += 1

Enter number of rows for normal triangle:  5

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

### Square

In [24]:
rows = int(input("Enter number of rows for square: "))
i = 1
while i <= rows:
    j = 1
    while j <= rows:
        print("*", end=" ")
        j += 1
    print()
    i += 1

Enter number of rows for square:  5

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

## 8. Reverse number from 10 - 1

In [29]:
i = 10
while i!=0:
    print(i)
    i -=1

10
9
8
7
6
5
4
3
2
1