# Q1. What is a database? Differentiate between SQL and NoSQL databases.

>* A database is an organized collection of data stored in a computer system. It is used to store, retrieve, and manage data efficiently. There are two types of databases: SQL (Structured Query Language) and NoSQL (Not only SQL).

>* SQL databases are relational databases that use tables to store data, and they use SQL to communicate with the database. 
	* **Eg:** MySQL, Oracle
>* NoSQL databases are non-relational and do not use tables to store data. They are more flexible and can store large amounts of unstructured or semi-structured data. 
	* **Eg:**  MongoDB,Cassandra

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

* DDL (Data Definition Language) is a set of SQL commands used to create, modify, and delete database objects such as tables, indexes, and views.

>* CREATE is used to create a new database object. For example,

CREATE TABLE students (
  id INT PRIMARY KEY,
  name VARCHAR(50),
  age INT
);

>* Drop is used to delete a table

DROP TABLE students;

>* ALTER is used to modify the structure of a database object.

ALTER TABLE students ADD COLUMN address VARCHAR(100);

>* TRUNCATE is used to remove all the data from a table

TRUNCATE TABLE students;

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

* DML (Data Manipulation Language) is a set of SQL commands used to manipulate data within a database.

>* INSERT is used to add new data to a table.

INSERT INTO students (id, name, age) VALUES (1, 'Arun', 20);

>* UPDATE is used to modify existing data in a table

UPDATE students SET age = 21 WHERE id = 1;

>* DELETE is used to remove data from a table.

DELETE is used to remove data from a table.

# Q4. What is DQL? Explain SELECT with an example.

* DQL (Data Query Language) is a set of SQL commands used to query data from a database

>* SELECT is used to retrieve data from a table.

SELECT * FROM students;

# Q5. Explain Primary Key and Foreign Key.

* **Primary Key :** A primary key is a column or a set of columns in a table that uniquely identifies each row in the table. A primary key cannot contain null values, and its values must be unique across all rows in the table

* **Eg** : For example, in the students table, the ID column can be used as the primary key. Each student has a unique ID, and the ID column cannot contain null values

* **Foreign key :** A foreign key is a column or a set of columns in a table that refers to the primary key of another table. A foreign key is used to establish relationships between tables,

* **Eg :** grades table that has a foreign key column that references the ID column in the students table. This allows the grades table to associate each grade with a specific student.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

for x in mycursor:
  print(x)

# Q7. Give the order of execution of SQL clauses in an SQL query.

* The order of execution of SQL clauses in a SQL query is as follows:

1. FROM: specifies the table or tables to query
2. WHERE: filters the data based on a specific condition
3. GROUP BY: groups the data based on one or more columns
4. HAVING: filters the groups based on a specific condition
5. SELECT: selects the columns to retrieve
6. DISTINCT: removes duplicate rows from the result set
7. ORDER BY: sorts the result set based on one or more columns
8. LIMIT: limits the number of rows returned by the query